// Font - Archivo
@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@125,100;125,200;125,300;125,400;125,500;125,600;125,700&display=swap');
// Font - Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$white: #fafafa;
$off-white: #aaaaaa;
$primary-grey: #0a0a0a;
$light-grey: #505050;
$dark-grey: #1a1a1a;

// INTRO
.intro-sticky {
    height: 250vh;
    display: grid;
    place-items: center;
}

.intro-wrapper-stroke {
    z-index: 1;
}

.intro-wrapper {
    z-index: -2;
}

.intro-wrapper, .intro-wrapper-stroke {
    width: 80%;
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(calc(-50% - 3vh));
    margin: 0 auto;
}

.intro-text-stroke {
    -webkit-text-stroke: 0.75px $white;
    color: transparent;
}

.intro-text, .intro-text-stroke {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    display: block;
}

.vid-container {
    width: fit-content;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(100%);
    z-index: -1;
}

video {
    width: 60vw;
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .intro-sticky {
            width: 100%;
            height: 200vh;
            display: grid;
            place-items: center;
        }

        .intro-wrapper, .intro-wrapper-stroke {
            width: 90%;
            height: 90vh;
            position: fixed;
            top: calc(50% + 30px);
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 0;
        }

        .intro-text, .intro-text-stroke {
            font-size: 40px;
            
            p {
                &:last-of-type {
                    word-break: break-word;
                    hyphens: auto;
                }
            }

            &:last-of-type {
                margin-top: 20px;
            }
        }

        .vid-container {
            position: absolute;
            width: 90vw;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        video {
            width: 100%;
        }
    }

.gap {
    height: 0;
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .gap {
            height: 70vh;
        }
    }

// HERO
.hero-section {
    display: grid;
    place-items: center;
}

.hero-sticky {
    width: 80%;
    height: 250vh;
    position: relative;
}

.hero-wrapper {
    height: fit-content;
    position: sticky;
    top: 50%;
    transform: translateY(calc(-50% - 3vh));
    display: inline-block;
    z-index: 1;
}

.hero-text {
    position: relative;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    display: block;
    opacity: 0;

    &:first-of-type {
        p {
            -webkit-text-stroke: 0.5px $white;
            color: transparent;
        }

        &:hover {
            color: $primary-grey;
            -webkit-text-stroke: 0px;
        }   
    } 
}

#portrait {
    position: absolute;
    width: 35vw;
    object-fit: cover;
}

.services {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: fit-content;
    font-size: clamp(26px, 3vw, 4em);
    position: absolute;
    transform: translateY(-50%) skewY(20deg);
    top: 50%;
    right: 0;
    z-index: 2;
    opacity: 0.2;
    transition: 0.3s;

    &:hover {
        opacity: 1;
    }

    &-list {
        padding: 0.5em 0;
    }

    li {
        &:before {
            content: '✕';
            vertical-align: middle;
            font-size: 0.3em;
            padding-right: 10px;
        }
    }
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .hero-sticky {
            width: 100vw;
            height: 250vh;
            position: relative;
        }

        .hero-wrapper {
            width: 90%;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .hero-text {
            width: 100%;
            font-size: 46px;
            word-break: break-all;
            hyphens: auto;
        }

        #portrait {
            display: none;
        }

        #appear-trigger {
            transform: translateY(200px);
        }

        #appear-end-trigger {
            transform: translateY(600px);
        }

        .services {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            width: fit-content;
            font-size: 22px;
            position: absolute;
            transform: translateY(-50%) skewY(20deg);
            top: 100%;
            right: 20%;
            z-index: 2;
            opacity: 1;
        }
    }

// PROJECTS
.works-container {
    position: sticky;
    width: 100vw;
    top: 45%;
    display: grid;
    place-items: center;
}

.works {
    font-size: 300px;
    opacity: 0.3;
    font-weight: 600;
    -webkit-text-stroke: 1.5px $white;
    color: transparent;
    text-transform: uppercase;
}

.horizontal-container {
    width: 800%;
    height: 100vh;
    display: flex;
    z-index: 1;
}

.project-container {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100vw;
    height: 100vh;

    &__spacer {
        width: 50vw;
    }
}

.project-list-container {
    position: absolute;
}

.project-list {
    font-size: 68px;
    font-weight: 600;
    -webkit-text-stroke: 1.5px $white;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    display: block;

    &:hover {
        -webkit-text-stroke: 0px;
        color: $white;
        transform: skew(-20deg, 0deg);
    }

    p {
        display: inline;

        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }
}

.project-img {
    position: absolute;
    height: 80vh;
    object-fit: cover;
    // visibility: hidden;
    z-index: -1;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .works-container {
            top: 60%;
            height: 50vh;
        }

        .works {
            font-size: 80px;
            opacity: 0.7;
            -webkit-text-stroke: 1.5px $white;
        }

        .project-list-container {
            width: 100%;
        }

        .project-list {
            font-size: 32px;
            -webkit-text-stroke: 0px;
            color: $white;
            width: 100%;
            text-decoration: underline;

            p {
                display: block;
                margin-top: 10px;

                &:not(:last-of-type) {
                    margin-right: 0;
                }

                span {
                    display: none;
                }
            }
        }

        .project-img {
            height: auto;
            width: 70vw;
            object-fit: cover;
            visibility: visible;
            opacity: 0.5;
        }
    }

// STORY
.story-section {
    position: relative;
    display: grid;
    place-items: center;    
    width: 100%;
    height: 100vh;
}

.skew {
    transition: 0.3s;
    transform-origin: left center;
}

.story-wrapper {
    width: 80vw;
    height: fit-content;
}

.story-title-container {
    margin: 2em 0;
}

.story-title {
    font-size: 46px;
    text-transform: uppercase;
    margin: 1em 0;
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .story-section {
            display: grid;
            place-items: center;    
            width: 100%;
            height: 100vh;
        }

        .story-wrapper {
            width: 80vw;
            height: fit-content;
        }

        .story-title {
            font-size: 18px;
            line-height: 26px;
        }
    }

// ENDING
.ending-section {
    width: 100%;
    height: 100vh;
}

.ending-wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}

.ending-text {
    font-size: 54px; 
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    width: fit-content;
    opacity: 0;

    &:nth-of-type(1) {
        font-size: 40px;
    }

    &:nth-of-type(2) {
        font-size: 80px;
    }
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .ending-section {
            display: grid;
            place-items: center;
            width: 100%;
            height: 50vh;
        }

        .ending-wrapper {
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }

        .ending-text {
            font-size: 42px;

            &:nth-of-type(1) {
                font-size: 30px;
            }
        
            &:nth-of-type(2) {
                font-size: 60px;
            }
        }
    }
