@import url("https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@125,100;125,200;125,300;125,400;125,500;125,600;125,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.intro-sticky {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.intro-wrapper {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(calc(-50% - 3vh));
          transform: translateY(calc(-50% - 3vh));
  margin: 0 auto;
}

.intro-text {
  font-size: clamp(40px, 5vw, 80px);
  font-weight: 600;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
}

@media only screen and (max-width: 450px) {
  .intro-sticky {
    width: 100%;
    height: 200vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .intro-wrapper {
    width: 90%;
    height: 90vh;
    position: fixed;
    top: calc(50% + 30px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 0;
  }
  .intro-text p:last-of-type {
    word-break: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  .intro-text:last-of-type {
    margin-top: 20px;
  }
}

.hero-sticky {
  height: 350vh;
  display: -ms-grid;
  display: grid;
  position: relative;
}

.hero-wrapper {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(calc(-50% - 3vh));
          transform: translateY(calc(-50% - 3vh));
  z-index: -2;
}

.hero-wrapper:nth-of-type(2) {
  z-index: 1;
}

.hero-text {
  font-size: clamp(49px, 7vw, 140px);
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}

.appear1, .appear2 {
  opacity: 0;
}

.appear1:nth-of-type(1), .appear2:nth-of-type(1) {
  -webkit-text-stroke: 1px #fafafa;
  color: transparent;
}

.appear2:nth-of-type(1) {
  visibility: none;
}

.appear2:not(:first-of-type) {
  -webkit-text-stroke: 1px #fafafa;
  color: transparent;
}

.vid-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

video {
  width: 60vw;
}

@media only screen and (max-width: 450px) {
  .hero-wrapper {
    width: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hero-text {
    width: 100%;
    word-break: break-all;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  video {
    width: 90vw;
  }
}

.services-section {
  height: 50vh;
}

.services-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services__left, .services__right {
  font-size: clamp(40px, 3vw, 80px);
  font-weight: 400;
  line-height: 1.75;
  text-transform: uppercase;
  color: #505050;
  position: relative;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
}

.services__left span, .services__right span {
  width: 50px;
  background: #505050;
  display: inline-block;
  height: 1px;
  margin: 0 30px 1rem 30px;
}

@media only screen and (max-width: 450px) {
  .services-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    place-items: center;
  }
  .services-container {
    width: 100vh;
    height: 50%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    margin: 0 25vw 0 0;
  }
}

.works-container {
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  top: 45%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.works {
  font-size: 300px;
  opacity: 0.3;
  font-weight: 600;
  -webkit-text-stroke: 1.5px #fafafa;
  color: transparent;
  text-transform: uppercase;
}

.horizontal-container {
  width: 600%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.project-container__spacer {
  width: 50vw;
}

.project-list-container {
  position: absolute;
}

.project-list {
  font-size: 68px;
  font-weight: 600;
  -webkit-text-stroke: 1.5px #fafafa;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.project-list:hover {
  -webkit-text-stroke: 0px;
  color: #fafafa;
  -webkit-transform: skew(-20deg, 0deg);
          transform: skew(-20deg, 0deg);
}

.project-list:hover ~ .project-desc {
  opacity: 1;
}

.project-list p {
  display: inline;
}

.project-list p:not(:last-of-type) {
  margin-right: 30px;
}

.project-desc {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  opacity: 0;
  background-color: #fafafa;
  color: #0a0a0a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  font-family: 'roboto', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}

.project-img {
  position: absolute;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  visibility: hidden;
  z-index: -1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

@media only screen and (max-width: 450px) {
  .works-container {
    top: 65%;
    height: 10vh;
  }
  .works {
    position: absolute;
    bottom: 0;
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
    font-size: 80px;
    opacity: 0.7;
    -webkit-text-stroke: 1.5px #fafafa;
  }
  .project-list-container {
    width: 100%;
  }
  .project-list {
    font-size: 32px;
    -webkit-text-stroke: 0px;
    color: #fafafa;
    width: 100%;
    text-decoration: underline;
  }
  .project-list p {
    display: block;
    margin-top: 10px;
  }
  .project-list p:not(:last-of-type) {
    margin-right: 0;
  }
  .project-list p span {
    display: none;
  }
  .project-desc {
    opacity: 1;
    font-size: 14px;
    width: 50vw;
    margin-top: 30px;
    background-color: transparent;
    color: #fafafa;
  }
  .project-img {
    height: auto;
    width: 70vw;
    -o-object-fit: cover;
       object-fit: cover;
    visibility: visible;
    opacity: 0.5;
  }
}

.story-section {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.skew {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.story-wrapper {
  width: 80vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.story-title-container {
  margin: 2em 0;
}

.story-title {
  font-size: 46px;
  text-transform: uppercase;
  margin: 1em 0;
}

@media only screen and (max-width: 450px) {
  .story-section {
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
  }
  .story-wrapper {
    width: 80vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .story-title {
    font-size: 18px;
    line-height: 26px;
  }
}

.ending-section {
  width: 100%;
  height: 100vh;
}

.ending-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.ending-text {
  font-size: 54px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  visibility: hidden;
}

.ending-text:nth-of-type(1) {
  font-size: 40px;
}

.ending-text:nth-of-type(2) {
  font-size: 80px;
}

@media only screen and (max-width: 450px) {
  .ending-section {
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 100%;
    height: 50vh;
  }
  .ending-wrapper {
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .ending-text {
    font-size: 42px;
  }
  .ending-text:nth-of-type(1) {
    font-size: 30px;
  }
  .ending-text:nth-of-type(2) {
    font-size: 60px;
  }
}
/*# sourceMappingURL=main.css.map */