.intro {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: left;
}

.intro-text {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 20px;
  padding-top: 40px;
}

@media only screen and (max-width: 450px) {
  .intro {
    height: calc(100vh - 100px);
    width: 100vw;
  }
  .intro-text {
    font-size: 30px;
    margin: 0 auto;
  }
}
.sectiontitle-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 20vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: 15vw;
  padding-top: 2em;
}

.sectiontitle-container {
  flex-shrink: 0;
  grid-column-gap: 1rem;
  padding-top: 40px;
}

.sectiontitle-box {
  display: flex;
  align-items: center;
}

.sectiontitle {
  -webkit-text-stroke: 0.5px #fff;
  color: transparent;
  text-transform: uppercase;
}

@media only screen and (max-width: 450px) {
  .sectiontitle-wrapper {
    padding-top: 0;
    margin-bottom: 10vh;
  }
}
.works-wrapper {
  width: 55vw;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  align-items: center;
}

.works-container {
  display: flex;
  flex-direction: column;
}

.works-list {
  display: flex;
  align-items: center;
  justify-content: right;
}

.works-item {
  border-bottom: 0.5px solid #fafafa;
  padding: 15px 0 15px 0;
  width: 100%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.works-item:first-of-type {
  border-top: 0.5px solid #fafafa;
}
.works-item:hover .works-title {
  margin-right: 20px;
}
.works-item:hover .works-phrase {
  opacity: 1;
  color: #fff;
}
.works-item.grotesquerie::before {
  background-image: url("/img/main/grotesquerie/grotesquerie-1.jpg");
}
.works-item.hondaverse::before {
  background-image: url("/img/main/hondaverse/hondaverse-1.jpg");
}
.works-item.ahsnyc::before {
  background-image: url("/img/main/ahsnyc/ahsnyc-1.jpg");
}
.works-item.cyberpunk::before {
  background-image: url("/img/main/cyberpunk2077/cyberpunk-2.jpg");
}
.works-item.revolve::before {
  background-image: url("/img/main/revolvefestival/revolvefestival-1.jpg");
}
.works-item.grotesquerie::before, .works-item.ahsnyc::before, .works-item.cyberpunk::before, .works-item.hondaverse::before, .works-item.revolve::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  aspect-ratio: 1/1;
  border-radius: 20px;
  position: fixed;
  top: 15vh;
  right: 23vw;
  display: inline-block;
  height: 65vh;
  transform: translateX(50%);
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.works-item.grotesquerie:hover::before, .works-item.ahsnyc:hover::before, .works-item.cyberpunk:hover::before, .works-item.hondaverse:hover::before, .works-item.revolve:hover::before {
  opacity: 1;
}

.works-title {
  text-transform: uppercase;
  margin-left: 20px;
  text-align: right;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.works-phrase {
  font-weight: 400;
  text-align: center;
  font-style: italic;
  position: fixed;
  bottom: 15vh;
  right: 23vw;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

@media only screen and (max-width: 450px) {
  .works-wrapper {
    width: 100vw;
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 60px;
  }
  .works-list {
    opacity: 1;
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    justify-content: center;
  }
  .works-item {
    display: grid;
    position: relative;
    height: 40vh;
    padding: 0;
    width: 100vw;
  }
  .works-item.grotesquerie::before, .works-item.ahsnyc::before, .works-item.cyberpunk::before, .works-item.hondaverse::before, .works-item.revolve::before {
    aspect-ratio: 4/3;
    border-radius: 0;
    position: relative;
    display: flex;
    height: auto;
    width: 65vw;
    top: 0;
    right: 0;
    margin: 30px auto;
    transform: none;
    opacity: 1;
  }
  .works-item.grotesquerie:hover .works-title, .works-item.ahsnyc:hover .works-title, .works-item.cyberpunk:hover .works-title, .works-item.hondaverse:hover .works-title, .works-item.revolve:hover .works-title {
    margin-right: 0;
  }
  .works-item .works-title {
    opacity: 1;
    margin: 0 auto;
  }
  .works-item .works-phrase {
    width: 100%;
    opacity: 1;
    position: relative;
    margin-bottom: 20px;
    bottom: 0;
    right: 50%;
  }
}
.about-content {
  position: relative;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10vh 30px 0 30px;
  justify-content: space-between;
  align-items: flex-end;
}

.abt {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.abt.portrait {
  width: clamp(150px, 25vw, 400px);
  margin-right: 30px;
  margin-left: auto;
  border-radius: 20px;
}
.abt.portrait img {
  width: 100%;
}
.abt.text {
  width: 55vw;
  height: -moz-fit-content;
  height: fit-content;
}
.abt.text p {
  text-transform: none;
  margin-top: 50px;
  margin-left: 0.25em;
}

@media only screen and (max-width: 450px) {
  .about-content {
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    margin: 60px 30px 0 30px;
  }
  .abt {
    opacity: 1;
  }
  .abt.portrait {
    width: 45vw;
    margin-bottom: 20px;
  }
  .abt.text {
    width: 100%;
    margin: 0;
  }
}
.services {
  display: flex;
  margin: 20vh 30px 10vh 30px;
  justify-content: right;
}

.services-wrapper {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  width: 55vw;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: grid;
}

.services-list {
  display: flex;
  padding-bottom: 3vw;
}
.services-list h3 {
  margin-left: 20px;
}

.services-img {
  position: absolute;
  top: 50%;
  left: -40%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  z-index: -1;
}
.services-img img {
  border-radius: 20px;
  width: 30vw;
}

.services-item.one:hover ~ .services-img.first {
  opacity: 0.85;
}
.services-item.two:hover ~ .services-img.second {
  opacity: 0.85;
}
.services-item.three:hover ~ .services-img.third {
  opacity: 0.85;
}
.services-item.four:hover ~ .services-img.fourth {
  opacity: 0.85;
}
.services-item.five:hover ~ .services-img.fifth {
  opacity: 0.85;
}

@media only screen and (max-width: 450px) {
  .services {
    margin-top: 15vw;
  }
  .services-wrapper {
    opacity: 1;
    width: 100%;
  }
  .services-list {
    padding-bottom: 7vw;
  }
}
.contact-section {
  position: relative;
  width: 100vw;
}

.contact-wrapper {
  height: -moz-fit-content;
  height: fit-content;
}

.contact-container {
  width: 100vw;
  border-bottom: 0.5px solid #fafafa;
}

.contact-list {
  width: 55vw;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.contact {
  text-transform: uppercase;
}
.contact.left {
  margin-right: auto;
  margin-left: 0;
}
.contact.right {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

@media only screen and (max-width: 450px) {
  .contact-section {
    height: 40vh;
    margin-top: 10vh;
  }
  .contact-wrapper {
    height: -moz-fit-content;
    height: fit-content;
  }
  .contact-container h4 {
    font-size: 3vw;
    text-align: left;
    margin-left: 20px;
  }
  .contact-list {
    width: calc(100vw - 40px);
  }
  .contact {
    opacity: 1;
  }
  .contact span {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */