.project-section {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
}

.desc-wrapper {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 8vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.desc-container {
  position: fixed;
  width: calc(33.3333333333% - 5vw);
  top: 8vw;
  left: 5vw;
  z-index: 1;
  opacity: 1;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.desc-container.--archive {
  position: relative;
}

.desc-details {
  grid-column: 2/4;
  margin: auto 5vw;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.title {
  margin-bottom: 20px;
}

.music-player {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

/* Controls container */
.controls {
  display: flex;
}

/* Button styling */
button {
  margin-right: 30px;
  font-size: 18px; /* Adjust icon size */
  background-color: transparent;
  color: #505050;
  cursor: crosshair;
  transition: background-color 0.3s;
}

button:hover {
  color: #ed1c24;
}

button i {
  margin: 0; /* Center icons within the button */
}

.hero-photo {
  border-radius: 15px;
  grid-column: 2/4;
  overflow: hidden;
  position: relative;
}
.hero-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: crosshair;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.hero-photo img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 450px) {
  .desc-wrapper {
    grid-template-columns: repeat(1, 1fr);
    width: 90vw;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .desc-container {
    width: 90vw;
    height: -moz-fit-content;
    height: fit-content;
    position: static;
    top: 0;
    left: 0;
    margin-top: 20vw;
    margin-left: auto;
    margin-right: auto;
  }
  .desc-details {
    grid-column: span 1;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  .music-player {
    margin-top: 10vw;
  }
  button {
    font-size: 24px;
  }
  .hero-photo {
    position: relative;
    grid-column: span 1;
    margin-top: 20vw;
  }
}
.content-container {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 3;
  background-color: #0a0a0a;
}

.content-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vw;
}

.gallery-photo {
  border-radius: 15px;
  overflow: hidden;
}
.gallery-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: crosshair;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.gallery-photo img:hover {
  transform: scale(1.1);
}
.gallery-photo.hero {
  grid-column: span 2;
}
.gallery-photo.vert {
  grid-row: span 2;
}

.content-vid video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.content-vid.horiz {
  grid-column: span 2;
}
.content-vid.vert {
  aspect-ratio: none;
  grid-row: span 2;
}

@media only screen and (max-width: 450px) {
  .content-gallery {
    grid-template-columns: repeat(1, 1fr);
    display: block;
  }
  .gallery-photo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .gallery-photo.hero {
    grid-column: span 1;
  }
  .gallery-photo.vert {
    grid-row: span 1;
  }
}
.process-title {
  margin-top: 8vw;
  margin-bottom: 20px;
  grid-column: 1/4;
}

.process-details {
  margin-right: 8vw;
  margin-bottom: 20px;
  grid-column: 1/3;
}

.process-tags {
  margin-bottom: 40px;
  font-style: italic;
  grid-column: 3/4;
}

.result-title {
  margin-top: 4vw;
  margin-right: 15px;
  text-align: right;
}

.result-details {
  margin-top: 4vw;
  grid-column: 2/4;
}

.result-text {
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
}

@media only screen and (max-width: 450px) {
  .process-title {
    margin-top: 15vw;
    margin-bottom: 40px;
  }
  .process-details {
    margin-bottom: 40px;
  }
}
.project-nav-container {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5vw;
  padding-top: 2em;
  margin-bottom: 5vw;
  padding-bottom: 2em;
  border-top: 0.5px solid white;
  align-items: center;
}

.project-nav {
  margin-left: 5vw;
  margin-right: 5vw;
}

.project-nav-title {
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  display: flex;
}
.project-nav-title.left {
  float: left;
}
.project-nav-title.left::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 665.207 592.419"><polygon points="296.209,592.418 410.19,592.419 148.648,330.876 665.207,330.877 665.207,261.542 148.648,261.542 410.19,0 296.209,0 0,296.209" fill="white"></polygon></svg>');
  width: clamp(18px, 1.2vw, 37px);
}
.project-nav-title.right {
  float: right;
}
.project-nav-title.right::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 665.207 592.419"><polygon points="368.998,0.001 255.017,0.001 516.559,261.543 0,261.543 0,330.877 516.559,330.877 255.017,592.419 368.998,592.419 665.207,296.21" fill="white"></polygon></svg>');
  width: clamp(18px, 1.2vw, 37px);
}
.project-nav-title:hover::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 665.207 592.419"><polygon points="296.209,592.418 410.19,592.419 148.648,330.876 665.207,330.877 665.207,261.542 148.648,261.542 410.19,0 296.209,0 0,296.209" fill="red"></polygon></svg>');
}
.project-nav-title:hover::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 665.207 592.419"><polygon points="368.998,0.001 255.017,0.001 516.559,261.543 0,261.543 0,330.877 516.559,330.877 255.017,592.419 368.998,592.419 665.207,296.21" fill="red"></polygon></svg>');
}

@media only screen and (max-width: 450px) {
  .project-nav-container {
    margin-top: 3vw;
    padding-top: 2em;
    margin-bottom: 3vw;
    padding-bottom: 2em;
  }
  .project-nav-title {
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto;
  }
  .project-nav-title.left {
    float: none;
  }
  .project-nav-title.right {
    float: none;
  }
}
/* Lightbox Modal Styles */
.lightbox-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9998; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
}

.lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
}

#lightbox-image {
  max-width: 100%;
  max-height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
  -moz-transition: opacity 0.5s ease, transform 0.5s ease;
  -o-transition: opacity 0.5s ease, transform 0.5s ease;
  -ms-transition: opacity 0.5s ease, transform 0.5s ease;
}

.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  cursor: crosshair;
  z-index: 9999;
  transition: opacity 0.5s ease, transform 0.5s ease;
  -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
  -moz-transition: opacity 0.5s ease, transform 0.5s ease;
  -o-transition: opacity 0.5s ease, transform 0.5s ease;
  -ms-transition: opacity 0.5s ease, transform 0.5s ease;
}
.arrow svg {
  max-width: 100%;
  fill: #fff;
}
.arrow svg:hover {
  fill: #ed1c24;
}

.left-arrow {
  width: 2vw;
  left: 20px;
}

.right-arrow {
  width: 2vw;
  right: 20px;
}

.close-btn {
  position: fixed;
  top: 50px;
  right: 20px;
  color: white;
  font-size: 3em;
  cursor: crosshair;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
}
.close-btn:hover {
  color: #ed1c24;
}/*# sourceMappingURL=projects.css.map */