$white: #fafafa;
$off-white: #aaaaaa;
$primary-grey: #0a0a0a;
$light-grey: #505050;
$dark-grey: #1a1a1a;
$red: #ed1c24;

// TEXT
.project-section {
    width: 100vw;
    height: fit-content;
    align-items: center;
}

.desc-wrapper {
    height: fit-content;
    margin-top: 8vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.desc-container {
    position: fixed;
    width: calc(100% / 3 - 5vw);
    top: 8vw;
    left: 5vw;
    z-index: 1;
    opacity: 1;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.title {
    margin-bottom: 20px;
}

.music-player {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    }
    
/* Controls container */
.controls {
    display: flex;
}

/* Button styling */
button {
    margin-right: 30px;
    font-size: 18px;  /* Adjust icon size */
    background-color: transparent;
    color: $light-grey;
    cursor: crosshair;
    transition: background-color 0.3s;
}

button:hover {
    color: $red
}

button i {
    margin: 0;  /* Center icons within the button */
}

.hero-photo {
    border-radius: 20px;
    grid-column: 2 / 4;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: crosshair;

        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .desc-wrapper {
            grid-template-columns: repeat(1,1fr);
            width: 90vw;
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
        }

        .desc-container {
            width: 90vw;
            height: fit-content;
            position: static;
            top: 0;
            left: 0;
            margin-top: 20vw;
            margin-left: auto;
            margin-right: auto;
        }

        .music-player {
            margin-top: 10vw;
        }

        button {
            font-size: 24px;
        }

        .hero-photo {
            position: relative;
            grid-column: span 1;
            margin-top: 20vw;
        }
    }

.content-container {
    position: relative;
    height: fit-content;
    z-index: 3;
    background-color: $primary-grey;
}

.content-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vw;
}

.gallery-photo {
    border-radius: 20px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: crosshair;

        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;

        &:hover {
            transform: scale(1.1);
        }

      }

    &.hero {
        grid-column: span 2;
    }

    &.vert {
        grid-row: span 2;
    }
}

.content-vid {      
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    &.horiz {
        grid-column: span 2;
    }

    &.vert {
        grid-row: span 2;
    }

}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        
        .content-gallery {
            grid-template-columns: repeat(1,1fr);
        }
        
        .gallery-photo {        
            &.hero {
                grid-column: span 1;
            }

            &.vert {
                grid-row: span 1;
            }
        }
    }

.process-section {
    width: 100vw;
    height: fit-content;
    display: grid;
    align-items: center;
}

.process-wrapper {
    display: flex;
    padding-top: 3vw;
    border-top: 0.5px solid white;
}

.process-container {
    width: fit-content;
    margin-left: 5vw;
    margin-bottom: 2vw;
}

.process-title {
    margin-bottom: 20px;
}

.process-tags {
    margin-bottom: 20px;
    font-style: italic;
}

.process-gallery {
    display: grid;
    grid-gap: 15px;
    margin-left: 3vw;
    margin-right: 5vw;

    &.four-clmn {
        grid-template-columns: repeat(4, 1fr);
    }

    &.five-clmn {
        grid-template-columns: repeat(5, 1fr);
    }
}

.process-photo {
    border-radius: 20px;
    overflow: hidden;
      
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: crosshair;

        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .process-wrapper {
            display: grid;
            width: 100vw;
            padding-top: 10vw;
            padding-bottom: 10vw;
        }

        .process-container {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5vw;
        }

        .process-gallery {

            &.four-clmn {
                grid-template-columns: repeat(2, 1fr);
            }
        
            &.five-clmn {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .process-gallery {
            grid-template-columns: repeat(2, 1fr);
        }

        .process-photo {
            border-radius: 10px;
        }
    }

.project-nav-container {
    width: 100vw;
    height: fit-content;
    margin-top: 5vw;
    padding-top: 2em;
    margin-bottom: 5vw;
    padding-bottom: 2em;
    border-top: 0.5px solid white;
    align-items: center;
}

.project-nav {
    margin-left: 5vw;
    margin-right: 5vw;
}

.project-nav-title {
    height: fit-content;
    align-items: center;
    display: flex;

    &.left {
        float: left;

        &::before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 665.207 592.419"><polygon points="296.209,592.418 410.19,592.419 148.648,330.876 665.207,330.877 665.207,261.542 148.648,261.542 410.19,0 296.209,0 0,296.209" fill="white"></polygon></svg>');
            width: clamp(18px, 1.2vw, 37px);
        }
    }

    &.right {
        float: right;

        &::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 665.207 592.419"><polygon points="368.998,0.001 255.017,0.001 516.559,261.543 0,261.543 0,330.877 516.559,330.877 255.017,592.419 368.998,592.419 665.207,296.21" fill="white"></polygon></svg>');
            width: clamp(18px, 1.2vw, 37px);
        }
    }

    &:hover::before {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 665.207 592.419"><polygon points="296.209,592.418 410.19,592.419 148.648,330.876 665.207,330.877 665.207,261.542 148.648,261.542 410.19,0 296.209,0 0,296.209" fill="red"></polygon></svg>');
        }

    &:hover::after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 665.207 592.419"><polygon points="368.998,0.001 255.017,0.001 516.559,261.543 0,261.543 0,330.877 516.559,330.877 255.017,592.419 368.998,592.419 665.207,296.21" fill="red"></polygon></svg>');
        }
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .project-nav-container {
            margin-top: 3vw;
            padding-top: 2em;
            margin-bottom: 3vw;
            padding-bottom: 2em;
        }

        .project-nav-title {
            width: fit-content;
            margin: 20px auto;

            &.left {
                float: none;
            }
        
            &.right {
                float: none;
            }
        }
    }


/* Lightbox Modal Styles */
.lightbox-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 9998; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
}

.lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
}

#lightbox-image {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    opacity: 0;

    transition: opacity 0.5s ease, transform 0.5s ease;
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
    -moz-transition: opacity 0.5s ease, transform 0.5s ease;
    -o-transition: opacity 0.5s ease, transform 0.5s ease;
    -ms-transition: opacity 0.5s ease, transform 0.5s ease;
  }

.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: crosshair;
    z-index: 9999;
  
    transition: opacity 0.5s ease, transform 0.5s ease;
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
    -moz-transition: opacity 0.5s ease, transform 0.5s ease;
    -o-transition: opacity 0.5s ease, transform 0.5s ease;
    -ms-transition: opacity 0.5s ease, transform 0.5s ease;

    svg {
        max-width: 100%;
        fill: #fff;
        
        &:hover {
            fill: $red;
        }
    }
}

.left-arrow {
    width: 2vw;
    left: 20px;
}

.right-arrow {
    width: 2vw;
    right: 20px;
}

.close-btn {
    position: fixed;
    top: 50px;
    right: 20px;
    color: white;
    font-size: 3em;
    cursor: crosshair;

    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;

    &:hover {
        color: $red;
    }
}
