// Font - Archivo
@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@100,300;125,600&display=swap');
// Font - Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');

$white: #fafafa;
$off-white: #aaaaaa;
$primary-grey: #0a0a0a;
$light-grey: #505050;
$dark-grey: #1a1a1a;
$red: #ed1c24;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: $primary-grey;
	scroll-behavior: smooth;
	transition: all 1s ease;

    scrollbar-width: none; /* Firefox */

    /* Chrome Safari */
    ::-webkit-scrollbar {
        display: none;
    } 
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Archivo', sans-serif;
    color: $white;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: url(../img/cursor.png) 3 3, auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        html, body {
            max-width: 100%;
            overflow-x: hidden;
            position: relative;
        }
    }

h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: clamp(40px, 7vw, 250px);
    line-height: 1em;
    font-stretch: 125%;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: clamp(100px, 15vw, 400px);
    line-height: 1em;
    font-stretch: 125%;
}

h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: clamp(18px, 1.2vw, 26px);
    line-height: 1em;
    font-stretch: 125%;
}

h4 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: clamp(10px, 0.8vw, 21px);
    line-height: 1em;
    font-stretch: 125%;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: clamp(20px, 4.5vw, 100px);
    line-height: 1em;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: clamp(12px, 1vw, 21px);
    line-height: 1.3em;

    span {
        text-transform: uppercase;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        cursor: crosshair;
        color: $red;
    }

    &:hover svg {
        fill: $red;
    }
}

li {
    list-style: none;
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        h1 {
            font-size: clamp(32px, 2vw, 26px);
        }
        h4 {
            font-size: clamp(20px, 2vw, 26px);
        }
    }

// CURSOR
.cursor-text {
    position: fixed;
    top: 0;
    left: 0;
    color: transparent;
    font-size: 10px;
    font-weight: 300;
    color: $white;
    z-index: 10000;

    p {
        text-transform: uppercase;
        display: inline;
    }
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .cursor-text {
            display: none;
        }
    }

// NAV
header {
    position: fixed;
    z-index: 9999;
    text-transform: uppercase;
    padding: 10px 20px;
    width: 100vw;
    height: fit-content;
    border-bottom: 0.25px solid $white;
    margin: 0 auto;
    background-color: $primary-grey;
    display: grid;
    align-items: center;
}

.navBar {
    display: inline-block;
    
    span {
        padding: 0 25px;
        transform: skew(-20deg);
        display: inline-block;
    }

    &.right {
        float: right;
    }

    li {
        display: inline-block;

        &:not(last-of-type) {
            padding-right: 10px;
        }

        &.active {
            color: $red;
        }

        &:hover {
            color: $red;
        }
    }
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        header {
            padding: 10px 10px;
            height: 40px;
        }

        .navBar {
            &.left {
                display: none;
            }

            &.right {
                float: none;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: table;
                table-layout: fixed;
                width: 100%;
            }

            li {   
                display: table-cell;
                text-align: center;
                vertical-align: middle;

                &:not(last-of-type) {
                    padding: 0;
                }
            }
        }
    }

// BACK TO TOP
.backtotop {
    color: rgba(98, 98, 98, 0.3);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    z-index: 9999;

    &.main {
        padding-top: 60px;
    }

    &.projects {
        position: fixed;
        bottom: 20px;
        left: 20px;
        margin-bottom: 0;
    }
}

    // Mobile
    @media only screen 
    and (max-width: 450px) {
        .backtotop {
            color: rgba(98, 98, 98, 0.75);

            &.projects {
                position: inherit;
                text-align: center;
                margin-bottom: 60px;
            }
        }
    }