@import url("https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@100,300;125,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #0a0a0a;
  scroll-behavior: smooth;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  scrollbar-width: none;
  /* Firefox */
  /* Chrome Safari */
}

html ::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Archivo', sans-serif;
  color: #fafafa;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: url(../img/cursor.png) 3 3, auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 450px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
  }
}

h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: clamp(40px, 7vw, 250px);
  line-height: 1em;
  font-stretch: 125%;
}

h2 {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: clamp(100px, 15vw, 400px);
  line-height: 1em;
  font-stretch: 125%;
}

h3 {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: clamp(18px, 1.2vw, 26px);
  line-height: 1em;
  font-stretch: 125%;
}

h4 {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: clamp(10px, 0.8vw, 21px);
  line-height: 1em;
  font-stretch: 125%;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: clamp(20px, 4.5vw, 100px);
  line-height: 1em;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: clamp(12px, 1vw, 21px);
  line-height: 1.3em;
}

p span {
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: crosshair;
  color: #ed1c24;
}

a:hover svg {
  fill: #ed1c24;
}

li {
  list-style: none;
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: clamp(32px, 2vw, 26px);
  }
  h4 {
    font-size: clamp(20px, 2vw, 26px);
  }
}

.cursor-text {
  position: fixed;
  top: 0;
  left: 0;
  color: transparent;
  font-size: 10px;
  font-weight: 300;
  color: #fafafa;
  z-index: 10000;
}

.cursor-text p {
  text-transform: uppercase;
  display: inline;
}

@media only screen and (max-width: 450px) {
  .cursor-text {
    display: none;
  }
}

header {
  position: fixed;
  z-index: 9999;
  text-transform: uppercase;
  padding: 10px 20px;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 0.25px solid #fafafa;
  margin: 0 auto;
  background-color: #0a0a0a;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar {
  display: inline-block;
}

.navBar span {
  padding: 0 25px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  display: inline-block;
}

.navBar.right {
  float: right;
}

.navBar li {
  display: inline-block;
}

.navBar li:not(last-of-type) {
  padding-right: 10px;
}

.navBar li.active {
  color: #ed1c24;
}

.navBar li:hover {
  color: #ed1c24;
}

@media only screen and (max-width: 450px) {
  header {
    padding: 10px 10px;
    height: 40px;
  }
  .navBar.left {
    display: none;
  }
  .navBar.right {
    float: none;
  }
  .navBar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .navBar li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .navBar li:not(last-of-type) {
    padding: 0;
  }
}

.backtotop {
  color: rgba(98, 98, 98, 0.3);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  z-index: 9999;
}

.backtotop.main {
  padding-top: 60px;
}

.backtotop.projects {
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin-bottom: 0;
}

.backtotop:hover {
  color: #ed1c24;
}

@media only screen and (max-width: 450px) {
  .backtotop {
    color: rgba(98, 98, 98, 0.75);
  }
  .backtotop.projects {
    position: inherit;
    text-align: center;
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=style.css.map */